In [1]:
# 리스트 생성
list1 = [1,2,3,4,5]

In [2]:
# 리스트의 주소값 확인
id(list1)

2042545021440

In [3]:
# 리스트의 주소값 추가
list1.append(6)

In [5]:
# 리스트에 새로운 값 할당
list1 = [1,2,3,4]
id(list1)

2042544785600

In [6]:
list2 = list1
id(list2)

2042544785600

In [10]:
# list2.append(5)
list1.append(6)

In [11]:
print("list1 : ",list1)
print("list2 : ",list2)

list1 :  [1, 2, 3, 4, 5, 6]
list2 :  [1, 2, 3, 4, 5, 6]

In [15]:
# 다른 주소로 값만 가져오기
# .copy() : 값만 가져오는 기능
list3 = list1.copy()
id(list3)

2042544241984

In [13]:
str1 = '문자열'
type(str1)

str

In [14]:
int1 = 60
type(int1)

int

In [16]:
int1 = '문자열'
type(int1)

str

### 리스트

In [17]:
# remove, insert, pop, append, count, len, reverse, sort, 인덱싱, 슬라이싱, index ...
# 인덱싱, 슬라이싱
# append
# remove

In [28]:
# 1 ~ 50까지가 담긴 리스트 생성하기
# 반복문 사용

#비어있는 리스트 생성(1부터 50까지 담을 용도)
list1 = []

# 리스트에 값 추가
for i in range(1, 51):
    list1.append(i) # append : 리스트에 값 추가
    
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [31]:
# 인덱싱 슬라이싱
# 대괄호 []
# 10 출력하기
print(list1[9])
# 15 ~ 25 출력하기
list1[14:25]

10

[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [32]:
# print : 원하는 위치에서 출력 가능 : 실행
# 변수명 출력 : 마지막 위치에서만 출력 가능 : 출력

In [33]:
# \n : 개행
str1 = 'asdf\nasdf'
print(str1)

asdf
asdf

In [34]:
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

### 딕셔너리
- key, value로 이루어짐

In [41]:
# dic_team 변수명을 사용해서 딕셔너리 만들기
# 이름 나이 key값 사용
# 팀원들의 정보

In [43]:
dic_team = {
    '이름':['장뚝배기','최인어공주','왕언니','해킹빌런','우지'],
    '나이':[7,13,31,17,21]
}
dic_team

{'이름': ['장뚝배기', '최인어공주', '왕언니', '해킹빌런', '우지'], '나이': [7, 13, 31, 17, 21]}

In [46]:
import pandas as pd
test_pd = pd.DataFrame(dic_team)

In [47]:
test_pd.to_csv('asdf.csv',encoding = 'cp949')